@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: grotesk;
    src: url(../font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

